#hero {
    display: flex;
    align-items: center;
    /* background-image: url('../assets/img/carousel/01-desk-Atlantida, Mar Chiquita, Provincia de Buenos Aires.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-image 1s ease-in-out 1s;
}

@media (max-width:767px) {
    #hero {
        display: flex;
        align-items: center;
        /* background-image: url('../assets/img/carousel/01-mob-Atlantida, Mar Chiquita, Provincia de Buenos Aires.jpg'); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-image 1s ease-in-out 1s;
    }
}


/* #zonificacion-normativa {
    background: linear-gradient(90deg, #F4EFEA 0%, rgba(221, 216, 211, 0.64) 100%);
} */

#testeos {
    background: linear-gradient(to right, transparent, #383838),url('../assets/img/tools/coronelVidal.png'), no-repeat;
    background-size: cover;
}

#censos {
    background: linear-gradient(90deg, #F4EFEA 0%, rgba(221, 216, 211, 0.64) 100%);
}

#pis-en-humanos {
    background: linear-gradient(to right, transparent, #383838),url('../assets/img/tools/mapaUrbano.png'), no-repeat;
    background-size: cover;
}

#jurisprudencia {
    background: linear-gradient(90deg, #F4EFEA 0%, rgba(221, 216, 211, 0.64) 100%);
}
#ranking {
    background-color: #F4EFEA;
}

#caja-herramientas {
    background-color: #F4EFEA;
}

#donar {
    background-image: url('../assets/img/banner-donar.jpg');
    background-size: cover;
}

#nosotros {
    background-image: url('../assets/img/nosotros.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#alianzas {
    background: #F4EFEA;
}

.recuadro {
    border-radius: 21px;
    border: 1px solid #FAF5F0;
    padding: 3em;
}



.tool-active:hover h3,
.tool-active:hover h4,
.tool-active:hover p,
.tool-active:hover u {
    color: var(--bs-primary)!important;
}
.tool-active:hover svg path {
    fill: var(--bs-primary)!important;
    /* fill: var(--bs-primary)!important; */
}
.tool-muted svg path {
    fill: var(--bs-gray)!important;
    /* fill: var(--bs-primary)!important; */
}


.position-middle {
    display:flex;
    align-items: center
}

.gray {
    filter: grayscale(100%);
}

@media (max-width: 767px) {
    .logo-mobile {
        display: block;
    }
    .logo-desktop {
        display: none;
    }
}
@media (min-width: 768px) {
    .logo-mobile {
        display: none;
    }
    .logo-desktop {
        display: block;
    }
  }

.is-poppins {
    font-family: "Poppins", "Space Grotesk",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

.is-space-grotesk {
    font-family: "Space Grotesk", "Poppins",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

.is-100 {
    font-weight: 100;
}

.is-200 {
    font-weight: 200;
}

.is-300 {
    font-weight: 300;
}

.is-400 {
    font-weight: 400;
}

.is-500 {
    font-weight: 500;
}

.is-600 {
    font-weight: 600;
}

.is-700 {
    font-weight: 700;
}

.is-800 {
    font-weight: 800;
}

.is-900 {
    font-weight: 900;
}

#afiches-gallery .card{
    border-radius: 0;
    border:0;
    background-color: transparent;
}

#afiches-gallery .card-img-top{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 0;
}

#afiches-gallery .card-body{
    background-color: #464748;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.question-box{
    padding: 15px;
    border: 1px solid #FFF;
    border-radius: 10px;;
}

.question-box .question-header{
    
}

.is-clickable{
    cursor: pointer;
}