#hero {
    font-weight: bold;
}


#involucrate {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#footer {
    padding-top: 3vh;
    padding-bottom: 2vh;
}

/* .bg-image {
    position: relative;
}
.bg-image::before {
    background-image: url('img/pis-web-2073x858.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
} */

.hero-title {
    font-weight: 900;
}



.section-title {
    padding-top: 5vh; 
}

.active {
    background-color: #000000!important;
    color: white!important;
    border-radius: 0px;
}

.anchor-top {
    position: -webkit-sticky;
    position: sticky;
    top: 66px;
    z-index: 1020;
    padding: 20px;
  }

#index-mapa {
    background-color: #3e3e3e!important;

}  